<section class="flex flex-col gap-5">
  <div class="w-full border mb-10">
    <h1
      class="text-xl md:text-3xl font-bold text-teal-500 underline text-center mb-5"
    >
      Employee Form
    </h1>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
      class="min-w-[400px] mx-auto px-2"
      autocomplete="off"
    >
      <!-- personal information -->
      <div>
        <h3
          class="text-md md:text-xl font-bold text-teal-500 underline text-center mb-2 capitalize"
        >
          personal information
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
          <!-- eName -->
          <Field label="name">
            <input
              #inputRef
              type="text"
              name="fakeName666"
              [formControl]="getControl('eName')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('eName').invalid && getControl('eName').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 0)"
              required
              autocomplete="off"
            />
          </Field>
          <!-- gender -->
          <Field label="gender">
            <select
              #inputRef
              name="gender"
              [formControl]="getControl('gender')"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
              class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
            >
              <option value="" class="capitalize">Select Option</option>
              @for(option of genderOption(); track $index){
              <option [value]="option?.value" class="capitalize">
                {{ option?.label }}
              </option>
              }
            </select>
          </Field>
          <!-- religion -->
          <Field label="religion">
            <select
              #inputRef
              name="religion"
              [formControl]="getControl('religion')"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
              class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
            >
              <option value="" class="capitalize">Select Option</option>
              @for(option of religionOption(); track $index){
              <option [value]="option?.value" class="capitalize">
                {{ option?.label }}
              </option>
              }
            </select>
          </Field>
          <!-- dob -->
          <Field label="date of birth">
            <input
              #inputRef
              type="date"
              [formControl]="getControl('dob')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('dob').invalid && getControl('dob').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 1)"
            />
          </Field>
          <!-- addr -->
          <Field label="address">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('addr')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- nid -->
          <Field label="national id">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('nid')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- moNum -->
          <Field label="mobile number">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('moNum')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- emCont -->
          <Field label="emergency contact">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('emCont')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- reEmCon -->
          <Field label="relation with emergency contact">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('reEmCon')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- email -->
          <Field label="email">
            <input
              #inputRef
              type="email"
              [formControl]="getControl('email')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- pic -->
          <!-- <Field label="picture">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('pic')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field> -->
          <!-- eduQua -->
          <Field label="education qualification">
            <select
              #inputRef
              name="eduQua"
              [formControl]="getControl('eduQua')"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
              class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
            >
              <option value="" class="capitalize">Select Option</option>
              @for(option of eduQuaOption(); track $index){
              <option [value]="option?.value" class="capitalize">
                {{ option?.label }}
              </option>
              }
            </select>
          </Field>
          <!-- deEduQua -->
          <Field label="education qualification details">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('deEduQua')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- expe -->
          <Field label="experience">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('expe')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- skill -->
          <Field label="skill">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('skill')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
        </div>
      </div>

      <!-- office information -->
      <div>
        <h3
          class="text-md md:text-xl font-bold text-teal-500 underline text-center mb-2 capitalize"
        >
          office information
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
          <!-- ref -->
          <Field label="References">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('ref')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- dep -->
          <Field label="Department">
            <select
              #inputRef
              name="dep"
              [formControl]="getControl('dep')"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
              class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
            >
              <option value="" class="capitalize">Select Option</option>
              @for(option of departmentOption(); track $index){
              <option [value]="option?.value" class="capitalize">
                {{ option?.label }}
              </option>
              }
            </select>
          </Field>
          <!-- design -->
          <Field label="Designation">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('design')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- jDate -->
          <Field label="Joining Date">
            <input
              #inputRef
              type="date"
              [formControl]="getControl('jDate')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('jDate').invalid && getControl('jDate').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- type -->
          <Field label="Employment Type">
            <select
              #inputRef
              name="type"
              [formControl]="getControl('type')"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
              class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
            >
              <option value="" class="capitalize">Select Option</option>
              @for(option of employeeTypeOption(); track $index){
              <option [value]="option?.value" class="capitalize">
                {{ option?.label }}
              </option>
              }
            </select>
          </Field>
          <!-- act -->
          <!-- <Field label="act">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('act')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field> -->
          <!-- workingPlace -->
          <Field label="working Place">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('workingPlace')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- basicSalary -->
          <Field label="basic Salary">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('basicSalary')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('basicSalary').invalid &&
                  getControl('basicSalary').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- houseRent -->
          <Field label="house Rent">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('houseRent')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('houseRent').invalid &&
                  getControl('houseRent').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- mediAllow -->
          <Field label="medical allowance">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('mediAllow')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('mediAllow').invalid &&
                  getControl('mediAllow').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- convey -->
          <Field label="conveyance bill">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('convey')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('convey').invalid &&
                  getControl('convey').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- otherAllow -->
          <Field label="other allowance">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('otherAllow')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('otherAllow').invalid &&
                  getControl('otherAllow').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- totalSalary -->
          <Field label="total Salary">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('totalSalary')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              [class.invalid]="
                (getControl('totalSalary').invalid &&
                  getControl('totalSalary').touched) ||
                isSubmitted
              "
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- fileLink -->
          <Field label="file link">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('fileLink')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- others1 -->
          <Field label="others1" hidden>
            <input
              #inputRef
              type="text"
              [formControl]="getControl('others1')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- others2 -->
          <Field label="others2" hidden>
            <input
              #inputRef
              type="text"
              [formControl]="getControl('others2')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
          <!-- others3 -->
          <Field label="others3" hidden>
            <input
              #inputRef
              type="text"
              [formControl]="getControl('others3')"
              class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 2)"
            />
          </Field>
        </div>
      </div>

      <!-- form buttons -->
      <div class="flex gap-2">
        <!-- Save -->
        <input
          #inputRef
          type="submit"
          [value]="selectedEmployee ? 'Update' : 'Save'"
          class="text-gray-50 bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 shadow-lg shadow-teal-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
          (keydown.enter)="handleEnterKey($event, 3)"
        />

        <button
          (click)="formReset($event)"
          class="text-gray-50 bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <h1
      class="text-xl md:text-3xl font-bold text-teal-500 underline text-center"
    >
      Employee List
    </h1>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <div class="flex items-end gap-2 flex-col md:flex-row px-2">
        <div class="w-full max-w-lg">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mt-1">
            <div
              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <app-search></app-search>
            </div>
            <input
              #searchInput
              type="text"
              id="table-search"
              autocomplete="off"
              class="block ps-10 text-xs text-gray-950 border border-gray-300 rounded bg-teal-100 focus:ring-teal-500 focus:border-teal-500 w-full"
              placeholder="Search"
              (input)="onSearchEmployee($event)"
              (keydown)="handleSearchKeyDown($event)"
            />
          </div>
        </div>
      </div>

      @if (isLoading$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-teal-600">
        Loading ...
      </p>
      } @else if (hasError$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      } @else if (filteredEmployeeList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">
        Data is Empty.
      </p>
      } @else {
      <table class="w-full text-sm text-left rtl:text-right text-gray-950 mt-2">
        <thead class="text-sm text-gray-50 uppercase bg-gray-800">
          <tr>
            <th scope="col" class="p-1">eName</th>
            <th scope="col" class="p-1">gender</th>
            <!-- <th scope="col" class="p-1">religion</th> -->
            <th scope="col" class="p-1">dob</th>
            <!-- <th scope="col" class="p-1">addr</th> -->
            <!-- <th scope="col" class="p-1">nid</th> -->
            <th scope="col" class="p-1">moNum</th>
            <th scope="col" class="p-1">emCont</th>
            <th scope="col" class="p-1">reEmCon</th>
            <th scope="col" class="p-1">email</th>
            <!-- <th scope="col" class="p-1">pic</th> -->
            <th scope="col" class="p-1">eduQua</th>
            <!-- <th scope="col" class="p-1">expe</th>
            <th scope="col" class="p-1">skill</th>
            <th scope="col" class="p-1">ref</th> -->
            <th scope="col" class="p-1">dep</th>
            <th scope="col" class="p-1">design</th>
            <th scope="col" class="p-1">jDate</th>
            <th scope="col" class="p-1">type</th>
            <!-- <th scope="col" class="p-1">act</th> -->
            <!-- <th scope="col" class="p-1">workingPlace</th> -->
            <th scope="col" class="p-1">postBy</th>
            <th scope="col" class="px-1 py-3">Edit</th>
            <th scope="col" class="px-1 py-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredEmployeeList().slice(0,20); track item?.id ||
          $index) {
          <tr
            id="row-{{ $index }}"
            class="bg-teal-50 border-b hover:bg-teal-600 hover:text-gray-50 cursor-pointer"
          >
            <td scope="row" class="p-1">
              {{ item?.eName }}
            </td>
            <td class="p-1">
              {{ item?.gender }}
            </td>
            <!-- <td class="p-1">
              {{ item?.religion }}
            </td> -->
            <td class="p-1">
              {{ transform(item?.dob) }}
            </td>
            <!-- <td class="p-1">
              {{ item?.addr }}
            </td> -->
            <!-- <td class="p-1">
              {{ item?.nid }}
            </td> -->
            <td class="p-1">
              {{ item?.moNum }}
            </td>
            <td class="p-1">
              {{ item?.emCont }}
            </td>
            <td class="p-1">
              {{ item?.reEmCon }}
            </td>
            <td class="p-1">
              {{ item?.email }}
            </td>
            <!-- <td class="p-1">
              {{ item?.pic }}
            </td> -->
            <td class="p-1">
              {{ item?.eduQua }}
            </td>
            <!-- <td class="p-1">
              {{ item?.expe }}
            </td>
            <td class="p-1">
              {{ item?.skill }}
            </td>
            <td class="p-1">
              {{ item?.ref }}
            </td> -->
            <td class="p-1">
              {{ item?.dep }}
            </td>
            <td class="p-1">
              {{ item?.design }}
            </td>
            <td class="p-1">
              {{ transform(item?.jDate) }}
            </td>
            <td class="p-1">
              {{ item?.type }}
            </td>
            <!-- <td class="p-1">
              {{ item?.act }}
            </td> -->
            <!-- <td class="p-1">
              {{ item?.workingPlace }}
            </td> -->
            <td class="p-1">
              {{ item?.postBy }}
            </td>
            <td>
              <button
                class="text-yellow-400 hover:bg-teal-50 px-1 rounded"
                (click)="onUpdate(item)"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                class="text-rose-400 hover:bg-teal-50 px-1 rounded"
                (click)="onDelete(item.eId)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>

@if (success()) {
<app-toast-success [title]="success()"></app-toast-success>
}
