<section>
  <ul class="ml-4 space-y-2">
    @for (node of nodes(); track $index) {
      <li>
        <div class="flex items-center space-x-2 font-bold">
          <!-- Collapse Button -->
          @if (node.children?.length) {
            <button
              class="hover:text-blue-600 focus:outline-none transition-colors"
              (click)="toggleCollapse(node)"
            >
              {{ node.collapsed ? '▶' : '▼' }}
            </button>
          } @else {
            <p class="w-5"></p>
          }

          <!-- Checkbox for Menu -->
          <input
            type="checkbox"
            class="form-checkbox h-5 w-5 text-blue-600 focus:ring-blue-500 rounded"
            [(ngModel)]="node.isSelected"
            (change)="onCheck(node, $event)"
          />

          <!-- Node menuName -->
          <span>{{ node.menuName }}</span>
        </div>

        <!-- Permissions -->
        @if (node.permissionsKey?.length) {
          <div class="ml-8 space-y-1">
            @for (permission of node.permissionsKey; track $index) {
              <label class="flex items-center space-x-2 text-sm">
                <input
                  type="checkbox"
                  class="form-checkbox h-4 w-4 text-blue-600 focus:ring-blue-500 rounded"
                  [(ngModel)]="permission.isSelected"
                  (change)="onPermissionCheck(node)"
                />
                <span>{{ permission.permission }}</span>
              </label>
            }
          </div>
        }

        <!-- Children List (Collapsible) -->
        @if (!node.collapsed && node.children?.length) {
          <app-user-access-tree [nodes]="node.children || []"></app-user-access-tree>
        }
      </li>
    }
  </ul>

  @if (nodes()[0]?.id == 1) {
    <div class="flex space-x-2 my-2">
      <button
        class="px-3 py-1 bg-blue-600 hover:bg-blue-700 text-gray-50 rounded transition-colors cursor-pointer"
        (click)="selectAll()"
      >
        Select All
      </button>
      <button
        class="px-3 py-1 bg-red-500 hover:bg-red-600 text-gray-50 rounded transition-colors cursor-pointer"
        (click)="deselectAll()"
      >
        Deselect All
      </button>
    </div>
  }
</section>
