@if (isView()) {
<section class="flex flex-col lg:flex-row gap-5">
  @if (showForm() && isInsert()) {
  <div class="w-full md:max-w-xl border mb-10">
    <h1
      class="text-xl md:text-3xl font-bold text-teal-500 underline text-center mb-5"
    >
      Current Asset Form
    </h1>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
      class="min-w-[400px] mx-auto px-2"
    >
      <!-- assetTypeId -->
      @if (assetTypeOption().length > 0) {
      <Field label="Asset Type">
        <select
          #inputRef
          formControlName="assetTypeId"
          placeholder=""
          class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          (keydown.enter)="handleEnterKey($event, 0)"
        >
          <option value="" class="capitalize">Select Option</option>
          @for(option of assetTypeOption(); track $index){
          <option [value]="option?.id" class="capitalize">
            {{ option?.text }}
          </option>
          }
        </select>
      </Field>
      } @else {
      <Field label="Asset Type">
        <select
          placeholder=""
          class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          (keydown.enter)="handleEnterKey($event, 0)"
          [disabled]="assetTypeOption().length === 0"
        ></select>
      </Field>
      }
      <!-- assetName -->
      <Field label="assetName">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('assetName')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          [class.invalid]="
            (getControl('assetName').invalid &&
              getControl('assetName').touched) ||
            isSubmitted
          "
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 1)"
          required
        />
      </Field>
      <!-- purInvNO -->
      <Field label="purInvNO">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('purInvNO')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 2)"
        />
      </Field>
      <!-- purDate -->
      <Field label="purDate">
        <input
          #inputRef
          type="date"
          [formControl]="getControl('purDate')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 3)"
        />
      </Field>
      <!-- depCalDate -->
      <Field label="depCalDate">
        <input
          #inputRef
          type="date"
          [formControl]="getControl('depCalDate')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 4)"
        />
      </Field>
      <!-- purPrice -->
      <Field label="purPrice">
        <input
          #inputRef
          type="number"
          [formControl]="getControl('purPrice')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 5)"
        />
      </Field>
      <!-- deprePercentage -->
      <Field label="depre%">
        <input
          #inputRef
          type="number"
          [formControl]="getControl('deprePercentage')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 6)"
        />
      </Field>
      <!-- depValue -->
      <Field label="depValue">
        <input
          #inputRef
          type="number"
          [formControl]="getControl('depValue')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 7)"
        />
      </Field>
      <!-- wdv -->
      <Field label="wdv">
        <input
          #inputRef
          type="number"
          [formControl]="getControl('wdv')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 8)"
        />
      </Field>
      <!-- Previous Value -->
      <Field label="Previous Value">
        <input
          #inputRef
          type="number"
          [formControl]="getControl('others1')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 9)"
        />
      </Field>
      <!-- vendor -->
      <Field label="Vendor">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('vendor')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 10)"
        />
      </Field>
      <!-- model -->
      <Field label="Model">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('model')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 11)"
        />
      </Field>
      <!-- qty -->
      <Field label="Quantity">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('qty')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 12)"
        />
      </Field>
      <!-- cpu -->
      <Field label="CPU">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('cpu')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 13)"
        />
      </Field>
      <!-- eul -->
      <Field label="EUL">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('eul')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 14)"
        />
      </Field>
      <!-- adInf -->
      <Field label="AD Info">
        <textarea
          [formControl]="getControl('adInf')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
        ></textarea>
      </Field>
      <!-- status -->
      <Field label="Status">
        <select
          #inputRef
          formControlName="status"
          class="block py-2.5 px-2 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          (keydown.enter)="handleEnterKey($event, 16)"
        >
          <option value="" class="capitalize">Select Status</option>
          @for(status of statusOptions(); track $index){
          <option [value]="status" class="capitalize">
            {{ status }}
          </option>
          }
        </select>
      </Field>
      <!-- location -->
      <Field label="location">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('location')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 17)"
        />
      </Field>
      <!-- warrEndDate -->
      <Field label="warrEndDate">
        <input
          #inputRef
          type="date"
          [formControl]="getControl('warrEndDate')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 18)"
        />
      </Field>
      <!-- fileLink -->
      <Field label="fileLink">
        <input
          #inputRef
          type="text"
          [formControl]="getControl('fileLink')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
          (keydown.enter)="handleEnterKey($event, 19)"
        />
      </Field>
      <!-- remarks -->
      <Field label="Remarks">
        <textarea
          #inputRef
          [formControl]="getControl('remarks')"
          class="block py-2.5 px-0 w-full text-sm text-gray-950 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
        ></textarea>
      </Field>

      <div class="flex gap-2">
        <!-- Save -->
        <input
          #inputRef
          type="submit"
          [value]="selectedFixedAsset ? 'Update' : 'Save'"
          class="text-gray-50 bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 shadow-lg shadow-teal-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
          (keydown.enter)="handleEnterKey($event, 21)"
        />

        <button
          (click)="formReset($event)"
          class="text-gray-50 bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
  }

  <div class="w-full border mb-10 px-3 max-h-[98vh] overflow-scroll">
    <div class="flex justify-between items-center">
      @if (isInsert()) {
      <button
        (click)="showForm.set(!showForm())"
        class="text-gray-50 bg-gradient-to-r hover:bg-gradient-to-br focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 my-2 w-40"
        [ngClass]="{
          'from-teal-400 via-teal-500 to-teal-600 focus:ring-teal-300 shadow-lg shadow-teal-500/50':
            !showForm(),
          'from-red-400 via-red-500 to-red-600 focus:ring-red-300 shadow-lg shadow-red-500/50':
            showForm()
        }"
      >
        {{ showForm() ? "Hide Form" : "Add New Asset" }}
      </button>
      }

      <h1
        class="text-xl md:text-3xl font-bold text-teal-500 underline text-center w-full"
      >
        Current Asset Description List
      </h1>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <div
        class="flex justify-between items-end gap-2 flex-col md:flex-row px-2"
      >
        <div class="w-full max-w-lg">
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative mt-1">
            <div
              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <app-search></app-search>
            </div>
            <input
              #searchInput
              type="text"
              id="table-search"
              autocomplete="off"
              class="block ps-10 text-xs text-gray-950 border border-gray-300 rounded bg-teal-100 focus:ring-teal-500 focus:border-teal-500 w-full"
              placeholder="Search"
              (input)="onSearchFixedAsset($event)"
              (keydown)="handleSearchKeyDown($event)"
            />
          </div>
        </div>
        <button
          class="relative inline-flex items-center justify-center p-0.5 me-2 overflow-hidden text-sm font-medium text-teal-600 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-gray-50 focus:ring-4 focus:outline-none focus:ring-green-200"
          (click)="generatePDF()"
        >
          <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-teal-50 rounded-md group-hover:bg-opacity-0 w-40"
          >
            Print
          </span>
        </button>
      </div>

      @if (isLoading$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-teal-600">
        Loading ...
      </p>
      } @else if (hasError$ | async) {
      <p class="text-3xl font-bold text-center p-10 text-red-600">
        There was an error loading data.
      </p>
      } @else if (filteredFixedAssetList().length === 0) {
      <p class="text-3xl font-bold text-center p-10 text-orange-600">
        Data is Empty.
      </p>
      } @else {
      <table class="w-full text-sm text-left rtl:text-right text-gray-950 mt-2">
        <thead class="text-sm text-gray-50 uppercase bg-gray-800">
          <tr>
            <th scope="col" class="p-1">assetName</th>
            <th scope="col" class="p-1">assetType</th>
            <th scope="col" class="p-1">purInvNO</th>
            <th scope="col" class="px-1 py-3">purDate</th>
            <th scope="col" class="px-1 py-3">purPrice</th>
            <th scope="col" class="p-1">depCalDate</th>
            <th scope="col" class="p-1">depre</th>
            <th scope="col" class="p-1">depValue</th>
            <th scope="col" class="p-1">wdv</th>
            <th scope="col" class="p-1">previous Value</th>
            <th scope="col" class="p-1">model</th>
            <th scope="col" class="p-1">vendor</th>
            <th scope="col" class="p-1">quantity</th>
            <th scope="col" class="p-1">cpu</th>
            <th scope="col" class="p-1">eul</th>
            <th scope="col" class="p-1">adInf</th>
            <th scope="col" class="p-1">status</th>
            <th scope="col" class="p-1">location</th>
            <th scope="col" class="p-1">warrEndDate</th>
            <th scope="col" class="p-1">fileLink</th>
            <th scope="col" class="p-1">remarks</th>
            <th scope="col" class="p-1">PostBy</th>
            @if (isEdit() || isDelete()) {
            <th scope="col" class="px-1 py-3">Action</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of filteredFixedAssetList().slice(0,50); track item?.id ||
          $index) {
          <tr
            id="row-{{ $index }}"
            class="bg-teal-50 border-b hover:bg-teal-600 hover:text-gray-50 cursor-pointer"
          >
            <td scope="row" class="p-1">
              {{ item?.assetName }}
            </td>
            <td class="p-1">
              {{ onDisplayAssetType(item?.assetTypeId) }}
            </td>
            <td class="p-1">
              {{ item?.purInvNO }}
            </td>
            <td class="p-1">
              {{ item?.purDate }}
            </td>
            <td class="p-1">
              {{ item?.purPrice }}
            </td>
            <td class="p-1">
              {{ item?.depCalDate }}
            </td>
            <td class="p-1">{{ item?.deprePercentage }}%</td>
            <td class="p-1">
              {{ item?.depValue }}
            </td>
            <td class="p-1">
              {{ item?.wdv }}
            </td>
            <td class="p-1">
              {{ item?.others1 }}
            </td>
            <td class="p-1">
              {{ item?.model }}
            </td>
            <td class="p-1">
              {{ item?.vendor }}
            </td>
            <td class="p-1">
              {{ item?.qty }}
            </td>
            <td class="p-1">
              {{ item?.cpu }}
            </td>
            <td class="p-1">
              {{ item?.eul }}
            </td>
            <td class="p-1">
              {{ item?.adInf }}
            </td>
            <td class="p-1">
              {{ item?.status }}
            </td>
            <td class="p-1">
              {{ item?.location }}
            </td>
            <td class="p-1">
              {{ item?.warrEndDate }}
            </td>
            <td class="p-1">
              {{ item?.fileLink }}
            </td>
            <td class="p-1">
              {{ item?.remarks }}
            </td>
            <td class="p-1">
              {{ item?.postBy }}
            </td>
            <td class="flex gap-1 justify-center items-center h-full p-1">
              <button
                class="text-blue-50 bg-blue-500 hover:bg-blue-600 p-1 rounded"
                (click)="openViewModal(item)"
              >
                <app-all-svg icon="eye" />
              </button>
              @if (isEdit()) {
              <button
                class="text-orange-50 bg-orange-400 hover:bg-orange-500 p-1 rounded"
                (click)="onUpdate(item)"
              >
                <app-all-svg icon="pencil" />
              </button>
              } @if (isDelete()) {
              <button
                class="text-rose-50 bg-rose-600 hover:bg-rose-700 px-2 py-[1px] rounded"
                (click)="onDelete(item?.id)"
              >
                X
              </button>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>
} @else {
<p class="text-3xl font-bold text-center p-10 text-red-600">
  You don't have permission to view this page.
</p>
}

<!-- Add this at the bottom of your template -->
@if (showViewModal) {
<app-asset-view-modal
  [asset]="selectedAsset"
  [assetType]="selectedAssetType"
  (close)="closeViewModal()"
></app-asset-view-modal>
}
