<section class="flex flex-col lg:flex-row gap-5">
    <div class="w-full max-w-4xl mx-auto border mb-10">
      <h1
        class="text-xl md:text-3xl font-bold text-teal-500 underline text-center mb-5"
      >
        Voucher Form
      </h1>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit($event)"
        class="min-w-[400px] mx-auto px-2"
      >
        <!-- voucherDate -->
        <Field label="Voucher Date">
          <input
            #inputRef
            type="date"
            [formControl]="getControl('voucherDate')"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
            [class.invalid]="
              (getControl('voucherDate').invalid && getControl('voucherDate').touched) ||
              isSubmitted
            "
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 0)"
            required
          />
        </Field>
        <!-- voucherNo -->
        <Field label="Voucher No">
          <input
            #inputRef
            type="text"
            maxlength="64"
            [formControl]="getControl('voucherNo')"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 1)"
            required
          />
        </Field>
        <!-- accountBankCashId -->
        <Field label="Bank/Cash">
          <select
            #inputRef
            name="accountBankCashId"
            [formControl]="getControl('accountBankCashId')"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 2)"
            class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          >
            <option value="0" class="capitalize" disabled>Select Option</option>
            @for(option of accountBankCashIdOption; track $index){
            <option [value]="option?.id" class="capitalize">
              {{ option?.text }}
            </option>
            }
          </select>
        </Field>
        <!-- vendorId -->
        <Field label="Vendor">
          <select
            #inputRef
            name="vendorId"
            [formControl]="getControl('vendorId')"
            placeholder=""
            (keydown.enter)="handleEnterKey($event, 3)"
            class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          >
            <option value="0" class="capitalize" disabled>Select Option</option>
            @for(option of vendorIdOption; track $index){
            <option [value]="option?.id" class="capitalize">
              {{ option?.text }}
            </option>
            }
          </select>
        </Field>
          <!-- payTo -->
          <Field label="Pay To">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('payTo')"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 4)"
            />
          </Field>
          <!-- amount -->
          <Field label="amount">
            <input
              #inputRef
              type="number"
              [formControl]="getControl('amount')"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 5)"
            />
          </Field>
          <!-- remarks -->
          <Field label="remarks">
            <input
              #inputRef
              type="text"
              [formControl]="getControl('remarks')"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
              placeholder=""
              (keydown.enter)="handleEnterKey($event, 6)"
            />
          </Field>



  <div formArrayName="createVoucherDetailDto">
    <div class="p-2 m-1 border border-teal-400 rounded flex justify-between -pb-2" *ngFor="let detail of createVoucherDetailDto.controls; let i = index" [formGroupName]="i">
      <!-- headId -->
      <Field label="Head">
        <select
          formControlName="headId"
          placeholder=""
          class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          [class.invalid]="
              (getControl('voucherDate').invalid && getControl('voucherDate').touched) ||
              isSubmitted
            "
          (input)="onHeadChanged($event)"
        >
          <option value="0" class="capitalize" disabled>Select Option</option>
          @for(option of headIdOption; track $index){
          <option [value]="option?.id" class="capitalize">
            {{ option?.text }}
          </option>
          }
        </select>
      </Field>
      <!-- subHeadId -->
      <Field label="Sub Head">
        <select
          formControlName="subHeadId"
          placeholder=""
          class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer capitalize"
          [disabled]="subHeadIdOption.length === 0"
        >
          <option value="0" class="capitalize" disabled>Select Option</option>
          @for(option of subHeadIdOption; track $index){
          <option [value]="option?.id" class="capitalize">
            {{ option?.text }}
          </option>
          }
        </select>
      </Field>
      <!-- debitAmount -->
      <Field label="debitAmount">
        <input
          type="number"
          formControlName="debitAmount"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
        />
      </Field>
      <!-- remarks -->
      <Field label="remarks">
        <input
          type="text"
          formControlName="remarks"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
          placeholder=""
        />
      </Field>
      <button class="bg-red-600 hover:bg-red-800 py-2 px-3 rounded-md my-2 text-white" type="button" (click)="removeCreateVoucherDetail(i)">Remove</button>
    </div>
    <button class="bg-green-600 hover:bg-green-800 py-2 w-full px-3 rounded-md my-2 text-white" type="button" (click)="addCreateVoucherDetail()">Add Voucher Detail</button>
  </div>

        <div class="flex gap-2">
          <!-- Save -->
          <input
            #inputRef
            type="submit"
            [value]="selectedBank ? 'Update' : 'Save'"
            class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10 w-full"
            (keydown.enter)="handleEnterKey($event, 3)"
          />
  
          <button
            (click)="resetForm($event)"
            class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
          >
            Clear
          </button>
        </div>
      </form>
    </div>
  </section>
  
  @if (success()) {
  <app-toast-success [title]="success()"></app-toast-success>
  }
  
