<!-- @if (isMenuPermission("Accounts")) {
<section class="bg-teal-300">
  <app-account-sidebar></app-account-sidebar>

  <div class="p-2 ml-12">
    <div
      class="p-2 border-2 border-teal-700 border-dashed rounded-lg min-h-[98vh] bg-teal-50 dark:bg-teal-950"
    >
      <router-outlet />
    </div>
  </div>
</section>
} @else {
<section class="bg-teal-300">
  <div class="p-2 ml-12">
    <div
      class="p-2 border-2 border-teal-700 border-dashed rounded-lg min-h-[98vh] bg-teal-50 flex items-center justify-center"
    >
      <h1 class="text-xl md:text-3xl lg:text-5xl text-center text-rose-600">
        You Don't Have Any Permission For This Page!
      </h1>
    </div>
  </div>
</section>
} -->





<section class="bg-blue-600 dark:bg-blue-900 h-dvh transition-all">
  <!-- Header -->
  <header class="bg-blue-600 dark:bg-blue-900 text-gray-50 transition-all">
    <div class="flex items-center justify-between px-6 py-1 md:ml-10">
      <div class="flex items-center space-x-4">
        <a routerLink="/" class="text-xl font-semibold">{{ companyName }}</a>
      </div>
      <div class="flex items-center space-x-4">
        <span class="text-sm">{{ currentDate }}</span>
        <div class="flex items-center space-x-2">
          <app-theme-toggle></app-theme-toggle>
        </div>
        <div class="flex items-center space-x-2">
          <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center">
            <svg
              class="w-5 h-5 text-blue-600 dark:text-blue-900 transition-all"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <span class="text-sm font-medium capitalize">{{ user().username }}</span>
        </div>
      </div>
    </div>
  </header>

  <!-- Body  -->
  <div class="flex">
    <!-- Sidebar -->
    @if (menuList() && menuList().length > 0 && menuList()[0]?.children) {
      <app-sidebar [menuList]="menuList()[0].children"></app-sidebar>
    }

    <div class="p-2 w-full">
      <div
        class="p-2 border-2 border-blue-400 dark:border-blue-600 border-dashed rounded-lg h-[94vh] bg-amber-50 dark:bg-gray-950 overflow-scroll transition-all"
      >
        <app-breadcrumb></app-breadcrumb>
        <router-outlet />
      </div>
    </div>
  </div>
</section>